<html>
<body>
<script>


</script>


<<%= "img src=http://www.kiei925.com/images/dice/#{rand(6) + 1}.png" %>>

<<%= "img src=http://www.kiei925.com/images/dice/#{rand(6) + 1}.png" %>>

</body></html>


