
<% all_books = Book.read %>

<h2>Our Books</h2>



  <% all_books.each do |book| %>

    <li>
    <%= book["title"] %> by <%= book["author"] %> for $<%= book["price"] %> with average rating of <%= book["avgrating"] %> </li>



<%end%>
